.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(221, 221, 221);
}

.Left-Section {
  display: flex;
  align-items: center;
}

.Right-Section {
  display: flex;
  align-items: center;
}

.Company-Brand {
  display: flex;
  align-items: center;
}

.Company-Brand img {
  height: 40px;
}

.Company-Brand h4 {
  font-family: "R-500";
}

.Account-Button button {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  font-size: 30px;
}

.Access-Account {
  display: flex;
  align-items: center;
}

.Access-Buttons {
  display: flex;
  align-items: center;
}

.Register-Button {
  border-style: none;
  background-color: blue;
  color: rgb(255, 255, 255);
  font-family: "R-400";
}

.Login-Button {
  background-color: rgba(240, 248, 255, 0);
  border-style: none;
  font-family: "R-400";
}

.Nav-Links a {
  color: rgb(102, 102, 102);
  text-decoration: none;
  font-family: "R-400";
}
